<!-- <input type="text" (input)="onUpdateServerName($event)" > -->
<input type="text" [(ngModel)]="serverName" >

<p>{{ serverName }}</p>
<hr>
<button [disabled]="!isServerCreationAllowed" (click)="onCreateServer()" > Add New Server </button>
<p *ngIf="isServerCreated; else noServerCreated"   [innerText]="serverCreateText" ></p>
<ng-template #noServerCreated >No Server Created</ng-template>
<app-server *ngFor="let server of servers; let i = index"  [ngStyle]="{ fontWeight :  i>5 ? 'bold': 'normal' }"  >
</app-server>

