<div class="row">
    <div class="col-xs-12">
        <img [src]="" alt="" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{ recipeDetailsEl.name }} </h1>
        <img src="{{ recipeDetailsEl.imagePath  }}" alt="" style="height: 500px;width: 300px;object-fit: cover;"  >
        <p>{{ recipeDetailsEl.description }}</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" appDropdown >
            <button class="btn btn-primary dropdown-toggle">Manage Recipe <span class="caret"></span></button>
            <ul class="dropdown-menu">  
                <li><a href="#"  (click)="toShoppingList()"  >To Shopping Listc</a></li>
                <li><a href="#">Edit Recipe</a></li>
                <li><a href="#">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Description
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item"
            *ngFor="let ingredient of recipeDetailsEl.ingredients" 
            >
                 {{ ingredient.name   }}   - {{ ingredient.amount}}        </li>
        </ul>
    </div>
</div>